[Desktop Entry]
Type=Service
MimeType=application/octet-stream;
Actions=aven-preview;
X-KDE-Protocols=file
X-KDE-MinNumberOfUrls=1
X-KDE-MaxNumberOfUrls=64
X-KDE-Priority=TopLevel

[Desktop Action aven-preview]
Name=Preview
Name[zh_CN]=预览
Name[zh_TW]=預覽
Name[zh_HK]=預覽
Icon=document-preview
Exec=aven-preview -- %U
